{% extends "pages/base.html" %}

{% from 'macros/models.html' import render_news %}
{% from 'macros/forms.html' import render_form %}
{% from 'macros/controls.html' import render_divider %}


{% block content %}
<div class="container px-5 py-2">
    {% if logged_user.is_admin %}
        <div id="news_form"></div>
        <script>
            $(this).ready(function() {
                news_form.url = '{{ url_for("news.add") }}'
                news_form.request()
            })
        </script>
        {{ render_divider() }}
        {% endif %}
        <div id="news_section"></div>
        <script>
            $(this).ready(function() {
                news_section.url = '{{ url_for("news.getall") }}'
                news_section.request()
                news_form.onSuccessCheck = news_section.request.bind(news_section)
            })
        </script>
</div>
{% endblock content %}