.clickable{
    cursor: pointer;
}

textarea{
    height: 100px;
}

.checked,
.checked::before{
    display: none;
}

.active .checked,
.active .checked::before {
    display: inline-block;
}

.active .unchecked {
    display: none;
}

.btn-plain,
.btn-plain.active,
.btn-plain:focus,
.btn-plain:active {
    border: none;
    box-shadow: none;
    outline: none;
    background: none;
}