{% extends "base.html" %}
{% block content %}
    {% if is_logged() %}
        <div>
            <a href="{{ url_for('about.create') }}">Create</a>
        </div>
    {% endif %}
    {% for review in reviews %}
        <div style="border: solid black 1px">
            <h4>
                <div class="clickable" onclick="onUserClick('{{ review.user_login }}')">{{ review.user_login }}</div>
                {% for i in range(review.stars) %}★{% endfor %}{% for i in range(5-review.stars) %}☆{% endfor %}
            </h4>
            <p>{{ review.body }}</p>
        </div>
    {% endfor %}
{% endblock content %}