{% extends "base.html" %}
{% from 'macros.html' import render_form, render_divider, render_author, render_content_dropdown %}
{% block content %}
<div class="container px-5 py-2">
    {% if is_logged() %}
        {{ render_form(form) }}
        {{ render_divider() }}
    {% endif %}
    {% for review in reviews %}
        <div class="card my-3">
            <div class="card-body">
                <h4 class="card-title">
                    <div class="d-inline-flex justify-content-between w-100">
                        <div class="d-inline gap-3">
                            {{ render_author(review.user_login, review.image, review.user_login) }}
                        </div>
                        {% if is_its_account(review.user_login) %}
                            <div>
                                {{ render_content_dropdown(url_for('about.edit_review', login=review.user_login), url_for('about.delete_review', login=review.user_login)) }}
                            </div>
                        {% endif %}
                    </div>
                </h4>
                <p class="card-text">
                    <h5>
                        {% for i in range(review.stars) %}★{% endfor %}{% for i in range(5-review.stars) %}☆{% endfor %}
                    </h5>
                    {{ review.body }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}