{% macro render_form(form) %}
    <form method="POST" enctype="multipart/form-data">
        {{ render_fields(form) }}
    </form>
{% endmacro %}


{% macro render_modal_form(form, action) %}
    <form id="modalForm" enctype="multipart/form-data" onsubmit="event.preventDefault(); onSubmit('{{ action }}')">
        {{ render_fields(form) }}
    </form>
{% endmacro %}


{% macro render_fields(form) %}
    {{ form.hidden_tag() }}
        {% for field in form %}
            {% if isinstance(field, CSRFTokenField) %}
                {{ continue }}
            {% elif isinstance(field, SubmitField) %}
            <div class="d-flex justify-content-end btn-toolbar mt-3">
                <input class="btn btn-regular px-5" type="reset" value="Clear"/>
                {{ field(class="btn btn-primary px-5 ml-3") }}
            </div>
            {% else %}
                <div class="mt-2">
                    <div class="form-group">
                        {{ field.label }}
                        <!-- TODO: To end preview -->
                        {% if isinstance(field, (MultipleFileField, FileField)) %}
                            {{ field(class="form-control", onchange="preview()") }}
                        {% else %}
                            {{ field(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
                {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="text-danger">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
{% endmacro %}


{% macro render_carousel(images) %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    {% for image in images %}
    <div class="carousel-item active">
        <img src="{{ image }}" class="d-block w-100" alt="Image">
      </div>
    {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endmacro %}


{% macro render_search_bar() %}
{# TODO: To end search #}
{% set blueprint = request.blueprint %}
{% if blueprint == 'news' %}
    {% set action = url_for('news.all') %}
{% elif blueprint == 'users' %}
    {% set action = url_for('users.all') %}
{% elif blueprint == 'about' %}
    {% set action = url_for('about.info') %}
{% endif %}
<form class="form-inline" role="search" action="{{ action }}">
    <div class="input-group">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </div>
</form>
{% endmacro %}


{% macro render_divider() %}
    <div class="my-3">
        <hr>
    </div>
{% endmacro %}


{% macro render_profile_picture(image, size) %}
    {% if size %}
        <object height="{{ size }}" width="{{ size }}" class="rounded-circle" data="{{ image }}" type="image/png" style="object-fit: cover;">
            <img height="{{ size }}" width="{{ size }}" class="rounded-circle" src="https://i.pinimg.com/736x/c9/e3/e8/c9e3e810a8066b885ca4e882460785fa.jpg" alt="Profile picture" style="object-fit: cover;">
        </object>
    {% else %}
        <object height="25" width="25" class="rounded-circle" data="{{ image }}" type="image/png" style="object-fit: cover;">
            <img height="25" width="25" class="rounded-circle" src="https://i.pinimg.com/736x/c9/e3/e8/c9e3e810a8066b885ca4e882460785fa.jpg" alt="Profile picture" style="object-fit: cover;">
        </object>
    {% endif %}
{% endmacro %}


{% macro render_content_dropdown(edit, delete) %}
    <div class="dropdown">
        <button class="btn dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form class="dropdown-item">
                <button class="btn w-100" type="button" onclick="onEditClick('{{ edit }}')">Edit</button>
            </form>
            <form method="post" class="dropdown-item" action="{{ delete }}">
                <button class="btn w-100" type="submit">Delete</button>
            </form>
        </div>
    </div>
{% endmacro %}


{% macro render_account_dropdown(image) %}
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ render_author('Account', image) }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('users.me') }}">Account</a>
            <a class="dropdown-item" href="{{ url_for('news.history') }}">History</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}" onclick="clearHistory()">Logout</a>
        </div>
    </div>
{% endmacro %}


{% macro render_news_covers(news) %}
    <div class="row gx-3 gy-3">
        {% for one_news in news %}
            <div class="col-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="{{ one_news.cover }}" alt="Cover">
                    <div class="card-img-overlay clickable" onclick="onNewsClick('{{ one_news.id }}')">
                        <div class="card-title text-white">
                            {{ render_author(one_news.user_login, one_news.image) }}
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between">{{ one_news.title }}
                        {% if is_its_account(one_news.user_login) %}
                            {{ render_content_dropdown(url_for('news.edit', id=one_news.id), url_for('news.delete', id=one_news.id)) }}
                        {% endif %}
                        </h5>
                        <p class="card-text text-truncate">
                            {{ one_news.body }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ one_news.posted_time }}</small>
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 %}
                <div class="w-100"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}


{% macro render_author(name, image, url) %}
<div class="d-inline 
    {% if url %}
        clickable" onclick="onUserClick('{{ url }}')"
    {% else %}
    "
    {% endif %}
>
    <div class="d-inline mx-1 align-middle">
        {{ render_profile_picture(image) }}
    </div>
    <div class="d-inline">
        {{ name }}
    </div>
</div>
{% endmacro %}


{% macro render_comments(comments) %}
    {% for comment in comments %}
        <div class="card my-3">
            <div class="card-body">
                <h4 class="card-title">
                    <div class="d-inline-flex justify-content-between w-100">
                        {{ render_author(comment.user_login, comment.image, comment.user_login) }}
                        {% if is_its_account(comment.user_login) %}
                            <div>
                                {{ render_content_dropdown(url_for('news.edit_comment', id=comment.id), url_for('news.delete_comment', id=comment.id)) }}
                            </div>
                        {% endif %}
                    </div>
                </h4>
                <p class="card-text">{{ comment.body }}</p>
            </div>
            <div class="card-footer">
                {{ comment.posted_time }}
            </div>
        </div>
    {% endfor %}
{% endmacro %}


{% macro render_users(users) %}
    {% for user in users %}
        <div class="card my-3">
            <div class="card-body">
                <h4 class="card-title">
                    <div class="d-inline-flex justify-content-between w-100">
                        {{ render_author(user.login, user.image, user.login) }}
                    </div>
                </h4>
                <p class="card-text">News written: {{ user.news_count }}</p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}


{% macro render_modal() %}
    <div class="modal fade" id="empModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
