{% macro render_form(form) %}
{# TODO: Found 2 elements with non-unique id #}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if isinstance(field, CSRFTokenField) %}
            {{ continue }}
        {% elif isinstance(field, SubmitField)%}
            {{ field }}
        {% else %}
            {% if field.errors %}
                <div style="background-color: red; color: white">
                    {{ field.errors }}
                </div>
            {% endif %}
            <div>
                {{ field.label }}
                {{ field }}
            </div>
        {% endif %}
    {% endfor %}
</form>
{% endmacro %}