{% extends "base.html" %}
{% from 'macros.html' import render_form, render_profile_picture, render_divider, render_author %}
{% block script %}
    <script src="{{ url_for('static', filename='mark_read.js') }}"></script>
{% endblock script %}
{% block content %}
{{ render_author(news.user_login, news.user_login) }}
<h1 class="mb-3">{{ news.title }}</h1>
    <div class="row">
        <div class="col">
            <img class="float-start w-25 me-3 mb-3" src="{{ news_folder(news.cover) }}" alt="Cover"/>
            <p>
                {{ news.body }}
                <br>
                <small class="text-muted">{{ news.posted_time }}</small>
            </p>
         </div>
    </div>
    {{ render_divider() }}
    {% if is_logged() %}
        {{ render_form(form) }}
    {% endif %}
    <script>
        loadSection('{{ url_for("news.comments", id=news.id) }}', 'comments')
    </script>
    <div id="comments" class="my-3">
    </div>
{% endblock content %}