{% extends "base.html" %}
{% from 'macros.html' import render_form, render_profile_picture %}
{% block script %}
    <script src="{{ url_for('static', filename='mark_read.js') }}"></script>
{% endblock script %}
{% block content %}
    <div>
        <div class="bg-image">
            <img class="w-100" src="{{ news_folder(news.cover) }}" alt="Cover"/>
            <div class="mask">
                <div class="d-inline mx-2 align-middle">
                    {{ render_profile_picture(50) }}
                </div>
                <h3 class="d-inline">
                    {{ news.user_login }}
                </h3>
            </div>
        </div>
        <h2>{{ news.title }}</h2>
        <p>{{ news.body }}</p>
        <small>{{ news.posted_time }}</small>
    </div>
    {% if is_its_account(news.user_login) %}
        <div>
            <form action="{{ url_for('news.edit', id=news.id) }}">
                <button type="submit">Edit</button>
            </form>
        </div>
    {% endif %}
    {% if is_logged() %}
        {{ render_form(form) }}
    {% endif %}
    {% for comment in comments %}
        <div style="border: solid black 1px">
            <small class="clickable" onclick="onUserClick('{{ comment.user_login }}')">{{ comment.user_login }}</small>
            <p>{{ comment.body }}</p>
            <small>{{ comment.posted_time }}</small>
            {% if is_its_account(comment.user_login) %}
            <div>
                <form action="{{ url_for('news.edit_comment', id=comment.id) }}">
                    <button type="submit">Edit</button>
                </form>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}