{% extends "base.html" %}
{% block content %}
    {% if is_logged() %}
    <div>
        <form action="{{ url_for('posts.create') }}">
            <button type="submit">Create</button>
        </form>
    </div>
    {% endif %}
    {% for post in posts %}
        <div class="clickable" onclick="onPostClick('{{ post.id }}')" style="border: solid black 1px">
            <small>{{ post.user_login }}</small>
            <div>
                <img height="300px" src="{{ posts_file(post.cover) }}" alt="Cover">
            </div>
            <b>{{ post.title }}</b>
            <p>{{ post.body }}</p>
            <small>{{ post.posted_time }}</small>
        </div>
    {% endfor %}
{% endblock content %}