{% extends "base.html" %}
{% block content %}
    <div>
        <img class="pfp" src="{{ users_folder(user.image) }}" alt="Image">
        <h1>
            {% if user.first_name %}
                {{ user.first_name }}
            {% endif %}
            {% if user.last_name %}
                {{ user.last_name }}
            {% endif %}
        </h1>
        <small>{{ user.login }}</small>
    </div>
    {% if is_its_account(user.login) %}
        <div>
            <a href="{{ url_for('auth.logout') }}">Log out</a>
        </div>
        <div>
            <form action="{{ url_for('users.edit') }}">
                <button type="submit">Edit</button>
            </form>
        </div>
    {% endif %}
    {% for post in posts %}
        <div style="border: solid black 1px" class="clickable" onclick="onPostClick('{{ post.id }}')" style="border: solid black 1px">
            <div>
                <img height="300px" src="{{ posts_folder(post.cover) }}" alt="Cover">
            </div>
            <b>{{ post.title }}</b>
            <p>{{ post.body }}</p>
            <small>{{ post.posted_time }}</small>
        </div>
    {% endfor %}
{% endblock content %}