{% extends "base.html" %}
{% from 'macros.html' import render_content_dropdown, render_news_covers, render_profile_picture, render_divider %}
{% block content %}
<div class="container px-5 py-2">
    <div class="d-flex">
        <div class="flex-shrink-0">
        {{ render_profile_picture(user.image, 150) }}
        </div>
        <div class="flex-grow-1 mx-4">
            <h3 class="m-0">
                {% if user.first_name %}
                    {{ user.first_name }}
                {% endif %}
                {% if user.last_name %}
                    {{ user.last_name }}
                {% endif %}
            </h3>
            <p class="text-muted pb-0">
                {{ user.login }}
            </p>
            <p class="py-0">
                {{ user.description }}
            </p>
        </div>
        {{ render_content_dropdown(url_for('users.edit'), url_for('users.delete')) }}
    </div>
    <div>
    {{ render_divider() }}
    {{ render_news_covers(news) }}
    </div>
</div>
{% endblock content %}