{% extends "base.html" %}
{% from 'macros.html' import render_news_covers %}
{% block content %}
    <div>
        {# TODO: Set default image if hadn't been set #}
        <img class="pfp" src="{{ users_folder(user.image) }}" alt="Image">
        <h1>
            {% if user.first_name %}
                {{ user.first_name }}
            {% endif %}
            {% if user.last_name %}
                {{ user.last_name }}
            {% endif %}
        </h1>
        <small>{{ user.login }}</small>
    </div>
    <div>
    {{ render_news_covers(news) }}
    </div>
{% endblock content %}